In [9]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
from sklearn.metrics import davies_bouldin_score
from sklearn.ensemble import IsolationForest

data = pd.read_csv('memory_stats_robot_cart.csv')  
data

       usage  max_usage     cache
0   52146176   79736832  22200320
1   42860544   79736832  12935168
2   42864640   79736832  12935168
3   42905600   79736832  12935168
4   43012096   79736832  12935168
..       ...        ...       ...
60  38043648   79736832   3747840
61  38043648   79736832   3747840
62  38207488   79736832   3747840
63  38207488   79736832   3747840
64  38211584   79736832   3747840

[65 rows x 3 columns]

In [10]:
kmeans = KMeans(n_clusters=2, random_state=1).fit(data)
kmeans.fit(data)
clusters = kmeans.predict(data)
data['cluster'] = clusters
data

       usage  max_usage     cache  cluster
0   52146176   79736832  22200320        0
1   42860544   79736832  12935168        0
2   42864640   79736832  12935168        0
3   42905600   79736832  12935168        0
4   43012096   79736832  12935168        0
..       ...        ...       ...      ...
60  38043648   79736832   3747840        1
61  38043648   79736832   3747840        1
62  38207488   79736832   3747840        1
63  38207488   79736832   3747840        1
64  38211584   79736832   3747840        1

[65 rows x 4 columns]

In [11]:
clusterizedData = data.copy()
iso = IsolationForest(contamination=0.05)
result = iso.fit_predict(data)
clusterizedData['outlier'] = result
clusterizedData['outlier'] = clusterizedData['outlier'].replace(1, 'No')
clusterizedData['outlier'] = clusterizedData['outlier'].replace(-1, 'Yes')
clusterizedData

       usage  max_usage     cache  cluster outlier
0   52146176   79736832  22200320        0     Yes
1   42860544   79736832  12935168        0      No
2   42864640   79736832  12935168        0      No
3   42905600   79736832  12935168        0      No
4   43012096   79736832  12935168        0      No
..       ...        ...       ...      ...     ...
60  38043648   79736832   3747840        1      No
61  38043648   79736832   3747840        1      No
62  38207488   79736832   3747840        1      No
63  38207488   79736832   3747840        1      No
64  38211584   79736832   3747840        1     Yes

[65 rows x 5 columns]

In [12]:
dfOutliers = clusterizedData.loc[clusterizedData['outlier'] == 'Yes']
dfString = dfOutliers.to_string()

Código para enviar Emails

In [13]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
import smtplib
import getpass

print("Enter with your email password: ")
password = getpass.getpass()
sender = "gabrielh2009@gmail.com"
receiver = "ghds@cin.ufpe.br"

# create message object instance
msg = MIMEMultipart()
 
message = "Those outliers have been found: \n\n"
message = message + dfString
 
msg['From'] = sender
msg['To'] = receiver
msg['Subject'] = "Alerting about Container X"
 
# add in the message body
msg.attach(MIMEText(message, 'plain'))
 
server = smtplib.SMTP('smtp.gmail.com: 587')
server.starttls()
 
server.login(msg['From'], password)

server.sendmail(msg['From'], msg['To'], msg.as_string())
server.quit()
 
print ("Successfully sent email to %s" % (msg['To']))

Enter with your email password:

 ·············

Successfully sent email to ghds@cin.ufpe.br